body {
  margin: 0;
  font-family: Roboto; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}

.logo-text {
  font-family: 'Outfit', sans-serif;
  font-weight: 600; 
  font-size: 1.5rem; 
  color: #000; 
}

.btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
